.onam-graph {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.shadow-text {
  text-shadow: 2px 2px 0px rgba(0,0,0,0.15);
}

.doodle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hide the raw text content before the css-doodle script initializes */
css-doodle:not(:defined) {
  display: none !important;
}
